<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a Petition</title>
</head>
<body>

<h1>Use the Form below to create a petition</h1>
<p><span>Others will be able to read and sign your petition</span></p>

<div>
    <form th:action="@{/create}" th:object="${petition}" method="post">

        <div>
            <label for="title">Title:</label><br>
            <input type="text" id="title" th:field="*{title}" required>
        </div>

        <div>
            <label for="author">Your Name:</label><br>
            <input type="text" id="author" th:field="*{author}" required>
        </div>
        <div>
            <label for="description">Description:</label><br>
            <textarea id="description" th:field="*{description}" rows="5" cols="40" required></textarea>
        </div>
        <br>
        <button type="submit">Create Petition</button>
        <button><a th:href="@{/petitions}">Cancel</a></button>

    </form>
</div>
</body>
</html>