<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a Petition</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="create-form-headers">
    <h1>Use the Form below to create a petition</h1>
    <p>
        <span>Others will be able to read and sign your petition</span>
    </p>
</div>

<div class="create-petition-wrapper">
    <form method="post" class="create-form" th:action="@{/create}" th:object="${petition}">

        <div>
            <label for="title">Title:</label><br>
            <input id="title" required th:field="*{title}" type="text">
        </div>

        <div>
            <label for="author">Your Name:</label><br>
            <input id="author" required th:field="*{author}" type="text">
        </div>
        <div>
            <label for="description">Description:</label><br>
            <textarea id="description" required th:field="*{description}"></textarea>
        </div>
        <br>
        <div class="create-form-buttons">
            <button type="submit">Create Petition</button>
            <a class="link-button" th:href="@{/petitions}">Cancel</a>
        </div>


    </form>
</div>
</body>
</html>