<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Petitions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>All Petitions ---UPDATE DURING RECORDING---</h1>

<div class="top-row">
    <div>
        <form method="get" th:action="@{/petitions}">
            <div class="search-row">
                <input class="search-input"
                       name="keyword"
                       placeholder="Search petitions..."
                       th:value="${keyword}"
                       type="text">
                <button type="submit">Search</button>
            </div>

            <div th:if="${keyword}">
                <p>Showing results for "<span th:text="${keyword}"></span>"</p>
                <a class="secondary-button" th:href="@{/petitions}">Clear search</a>
            </div>
        </form>
    </div>

    <div class="create-petition-box">
        <p>Want to have a say?</p>
        <p>Create a petition below:</p>
        <a class="link-button" th:href="@{'/create'}">Create Petition</a>
    </div>
</div>


<div>
    <p>
        <span>Click view to see the petition in detail</span>
    </p>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Details</th>
    </tr>

    <tr th:each="petition : ${petitions}">
        <td th:text="${petition.id}"></td>
        <td th:text="${petition.title}"></td>
        <td th:text="${petition.description}"></td>
        <td th:text="${petition.author}"></td>
        <td>
            <a th:href="@{'/petitions/' + ${petition.id}}">View</a>
        </td>
    </tr>
</table>

</body>
</html>
