<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${petition.title}">Petition Detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1 th:text="${petition.title}"> Petition</h1>

<div class="petition-info">
    <p>
        <strong> Author: </strong>
        <span th:text="${petition.author}"></span>
    </p>
    <p>
        <strong>Description: </strong>
        <span th:text="${petition.description}"></span>
    </p>
</div>

<div class="bottom-wrapper">
    <div class="signature-div">
        <h2>Signatures</h2>
        <table>
            <tr th:each="signature: ${petition.signatures}">
                <th th:text="${signature.name}"></th>
            </tr>
        </table>
    </div>

    <div class="sign-form">
        <form method="POST"
              th:action="@{'/petitions/' + ${petition.id} + '/sign'}"
              th:object="${signature}">

            <h3>Sign this Petition</h3>
            <div>
                <label for="name"> Name: </label>
                <input id="name" required th:field="*{name}" type="text">
            </div>
            <div>
                <label for="email"> Email: </label>
                <input id="email" required th:field="*{email}" type="email">
            </div>
            <div>
                <label for="phoneNumber"> Phone Number: </label>
                <input id="phoneNumber" required type="number">
            </div>
            <button type="submit">Sign</button>
            <a class="link-button" th:href="@{/petitions}">
                Back to all petitions
            </a>
        </form>
    </div>
</div>


</body>
</html>
